.flexbox {
	display: flex;
	flex-wrap: wrap;

	&.fb-vmiddle {
		align-items: center;
	}
	&.fb-end {
		align-items: flex-end;
	}
	&.fb-stretch {
		align-items: stretch;
	}
	&.fb-justify {
		justify-content: center;
	}
	&.fb-equal > * {
		flex: 1;
	}

	@include mq-to($phone) {
		> * {
			width: 100%;
		}
	}
}