// @font-face {
// 	font-family: CorporateACondensed;
// 	font-size: normal;
// 	font-weight: normal;
// 	font-style: normal;
// 	src: url("../fonts/corporate/Corporate-Acon-reg-webfont.eot"),
// 	url("../fonts/corporate/Corporate-Acon-reg-webfont.svg"),
// 	url("../fonts/corporate/Corporate-Acon-reg-webfont.ttf"),
// 	url("../fonts/corporate/Corporate-Acon-reg-webfont.woff");
// }

html {
	font-size: 62.5%;
}

body {
	font-family: objektiv-mk1, sans-serif;
	color: #000;
	font-size: 1.6rem;
}

strong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

h1 {
	font-size: 6rem;
	font-weight: 250;
	margin-bottom: .75em;
	animation: fadein 2s;
}

a.ext {
	display: inline-block;
	padding: .5em 1em;
	background-color: #000;
	color: #fff;
	// border-radius: 1em;
	text-decoration: none;
	font-weight: 720;
	font-size: 1.6rem;
	animation: fadein 2s;

	&.dribbble {
		background: #ea4c89;
		background: linear-gradient(45deg, #E47B49 0%, #ea4c89 100%);
	}
}