html, body {
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
}

a {
	cursor: pointer;
	color: $theme1;
}

img {
	max-width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid $theme1;
}

.container {
	padding: $wv1;
}