#sec-welcome {
	.article-img--wrapper {
		.article--content {
			.blomst {
				display: none;

				@include mq-from($tablet-l) {
					display: block;
					position: absolute;
					right: $wv7;
					bottom: (250px/6);
					width: (285px/1.25);
					height: (250px/1.25);
					background: transparent url("../img/blomst.png") no-repeat center;
					background-size: contain;
					transform: translate(50%, 50%);
					z-index: 1;
				}
			}
		}
	}	
}