// Basics
$pd-content: 2em;
$pd-default: 50px;

// Media Query sizes
$phone: 480px;
$tablet: 768px;
$tablet-l: 1024px;
$desktop: 1100px;
$xlarge: 1400px;

// Timing
$speed-def: .25s;

// Colours
$theme1: #000;
$theme2: #eee;

// Widths
$wv1: 6.25vw;
$wv2: $wv1*2;
$wv3: $wv1*3;
$wv4: $wv1*4;
$wv5: $wv1*5;
$wv6: $wv1*6;
$wv7: $wv1*7;
$wv8: 50vw;
$wv9: $wv1*9;
$wv10: $wv1*10;
$wv11: $wv1*11;
$wv12: $wv1*12;
$wv13: $wv1*13;
$wv14: $wv1*14;
$wv15: $wv1*15;
$wv16: 100vw;