html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  font-size: 1.4rem;
  /* =14px */
  font-family: verdana, sans-serif;
  color: #000; }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

h1, h2, p {
  margin: 0 0 2rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }
